.message-list {
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    background: #eae1ff;
  }::-webkit-scrollbar {
    width: 15px;
  }::-webkit-scrollbar-track {
    background: transparent;
  }::-webkit-scrollbar-thumb {
    background: #7a7a7a;
    border-radius: 5px;
  }::-webkit-scrollbar-thumb:hover {
    background: #212121;
  }

  .message-list-group{
    display: flex;
	flex-direction: column;
	padding: 0 20px;
  }
  .message-list-group:last-child {
    margin-bottom: 10px;
  }

  .messages-divider {
    align-items: center;
    color: #554280;
    display: flex;
    margin: 10px 0;
    text-align: center;
  }
  
  .messages-divider::before {
    margin-right: 0.25em;
    content: "";
    flex: 1;
    border-bottom: 1px solid #A985FF;
  }
  .messages-divider::after {
    margin-left: 0.25em;
    content: "";
    flex: 1;
    border-bottom: 1px solid #A985FF;
  }