 .message {
  display: grid;
  grid-template-columns: 95%;
  margin-bottom: 5px;
}
.message-text {
  padding: 10px 14px;
  font-size: 1rem;
  margin-bottom: 5px;
}

.message-info {
  font-size: 0.8rem;
  color: #777;
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  margin-left: 10px;
}

.message-info .message-user-name{
  margin-right: 5px;
}


.own-message .message-text {
  background: #876ACC;
  color: #eee;
  border: 1px solid #876ACC;
  border-radius: 14px 14px 0 14px;
  padding: 10px;
  white-space: pre-line;
  word-break: break-word;
  display: inline-block;
}

.message-info .me-user {
  text-align: end;
  padding-right: 3px;
  padding-left: 3px;
}

.message-info .message-delete{
  margin-right: 3px;
}

.message-text {
  background: #DFD1FF;
  color: #000000; 
  border: 1px solid #DFD1FF;
  border-radius: 0 14px 14px 14px;
  white-space: pre-line;
  word-break: break-word;
  display: inline-block;
}

.own-message {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-end;
  justify-content: flex-end;
}

.others-message {
  justify-items: start;
}

.others-message .message-content {
  grid-template-columns: 35px 1fr;
}


.avatar {
  grid-row: span 2;
}

.own-message .message-info {
  grid-column: 1 / 3;
  display: flex;
  flex-direction: row-reverse;
  padding-right: 5px;
}

.message-user-avatar{
  align-self: center;
  align-items: center;
  border-radius: 50%;
  height: fit-content;
}
.avatar {
  border-radius: 50%;
  height: auto;
  width: 5%;
}

.message-like{
  color:#A3A1A8;
  padding-left: 5px;
}

.message-like:hover{
  color: #FF8C64;
}

.message-liked{
  color: #FF665A;
  padding-left: 5px;
}
